!!! 5
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %title Helios 🚀
    %meta{name: "author", content: "Mattt Thompson"}
    %meta{name: "description", content: "Helios is an open-source framework that provides essential backend services for iOS apps"}
    %link{rel: "stylesheet", href: "/css/screen.css", type: 'text/css', media: "screen", charset: "utf-8"}

    %meta{property: "og:title", content: "Helios.io"}
    %meta{property: "og:url", content: "http://helios.io"}
    %meta{property: "og:image",  content: "http://helios.io/images/astrodog.png"}
    %meta{property: "og:site_name", content: "Helios.io"}
    %meta{property: "og:description", content: "Helios is an open-source framework that provides essential backend services for iOS apps"}

  %body
    - if ENV["GOOGLE_TAG_MANAGER_ACCOUNT"]
      %noscript
        %iframe{src: "//www.googletagmanager.com/ns.html?id=#{ENV["GOOGLE_TAG_MANAGER_ACCOUNT"]}", width: "0", height: 0, style: "display: none; visibility: hidden"}
      :javascript
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','#{ENV["GOOGLE_TAG_MANAGER_ACCOUNT"]}');

    %div{role: 'container'}
      = yield

      %a#github{href: "https://github.com/helios-framework/helios"}
